<div id="container">
    <ul id="menu">
        <li><a href="#">Home</a>
            <ul>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Maecenas lacinia sem</a></li>
                <li><a href="#">Suspendisse fringilla</a></li>
            </ul>
        </li>
        <li><a href="#">Portfolio</a>
            <ul>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Maecenas dignissim fermentum luctus</a></li>
                <li><a href="#">Suspendisse fringilla</a></li>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Maecenas lacinia sem</a></li>
                <li><a href="#">Suspendisse fringilla</a></li>
            </ul>
        </li>
        <li><a href="#">Clientes</a>
            <ul>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Maecenas lacinia sem</a></li>
                <li><a href="#">Suspendisse fringilla</a></li>
            </ul>
        </li>
        <li><a href="#">Contato</a>
            <ul>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Maecenas dignissim fermentum luctus</a></li>
                <li><a href="#">Suspendisse fringilla</a></li>
            </ul>
        </li>
        <li><a href="#">Suporte</a></li>
    </ul>
</div>